<h3>This is a cool website with a few small programs.</h3>



<ul class="home_list">
  <li>
    <a href="/chi_square">Chi-square</a> - This program finds the chi-square of a data table to help in correlation analysis.
    To learn about chi-square analysis and how it works, check out my blog post:
    <a href="http://online4hours.com/2016/12/08/chi-square-analysis-the-pokemon-go-survey/">
      Chi-Square analysis: The Pokemon GO survey.
    </a>
  </li>

  <li>
    <a href="/radical">Radical</a> - This program finds the root of a number using binary search.
    To learn about the algorithm I am using, check out my blog post:
    <a href="http://online4hours.com/2016/10/11/binary-search-and-finding-roots/">
      Binary search and finding roots.
    </a>
  </li>

  <li>
    <a href="/alternative_vote">Alternative Vote</a> - This program finds winner of an alternative vote.
    To learn about alternative vote and STV, check out my blog post:
    <a href="http://online4hours.com/2016/09/12/voting-the-big-problems-with-a-majority-rules-system/">
      Voting: The big problems with a “Majority Rules” system.
    </a>
  </li>

  <li>
    <a href="/collatz">Collatz</a> - This program finds the steps to get from  number to 1 using the Collatz Conjecture.
    To learn about the Collatz Conjecture, check out my blog post:
    <a href="http://online4hours.com/2016/09/11/collatz-conjecture-the-unsolvable-problem/">
      Collatz Conjecture: The Unsolvable Problem
    </a>
  </li>


</ul>